<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

	<os:object-store name="watermarkStore" doc:name="Object store" persistent="false" />

	<configuration-properties doc:name="Configuration properties" doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd"
		file="common.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9"
		file="mule.${mule.env}.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="0abdf143-d5d1-4168-bdbd-7e3722442725"
		file="mule-artifact.properties" />

	<sap:outbound-config name="SAP_Outbound" doc:name="SAP Outbound"
		doc:id="5282c7df-9b15-4b93-9cbe-9a2c9773cd7d">
		<sap:simple-connection-provider-connection
			applicationServerHost="${sap.jco.ashost}" username="${sap.jco.user}" password="${sap.jco.passwd}"
			systemNumber="${sap.jco.sysnr}" client="${sap.jco.client}" language="${sap.jco.lang}" />
	</sap:outbound-config>

	<salesforce:sfdc-config name="Salesforce" doc:name="Salesforce"
		doc:id="ad921136-a732-4ac5-8b29-60d5a25d87e5">
		<salesforce:basic-connection username="${sfdc.username}" password="${sfdc.password}"
			securityToken="${sfdc.securityToken}" />
	</salesforce:sfdc-config>

</mule>

        